<script>
	import Shark from './Shark.svelte';
	import Fish from './Fish.svelte';
	import Eel from './Eel.svelte';

	const numberOfFish = 100;
	const numberOfEels = 100;
	const sharkSpeed = 10;
	const preySpeed = {
		min: 1.5, max: 3, 
		random() { 
			return Math.random() * (this.max-this.min) + this.min 
		}
	};
	
	let winWidth = window.innerWidth;
	let winHeight = window.innerHeight;
	let keys = {
		left: 0, right: 0, up: 0, down: 0,
		mouth: 0
	}
	let sharkProps = {
		x: 10, 
		y: 300,
		mouth: "closed",
		z: 50
	};
	let allPrey = [];
	
	function handleAnimationFrame() {
		let sharkX = sharkProps.x + 110;
		let sharkY = sharkProps.y + 70;

		for (let i=0; i < allPrey.length; ++i) {			
			let prey = allPrey[i];

			if (!prey.component) continue;
			let preyX = prey.x + 10;
			let preyY = prey.y + 10;
			if (sharkProps.mouth == 'open' &&
					(Math.abs(preyX - sharkX) < 20) && 
					(Math.abs(preyY - sharkY) < 20)
			) { 
				prey.component.$destroy();
				prey.component = null;
				//   sharkProps.mouth = 'closed';
				continue;
			}
			
			let dx = prey.dx;
			let dy = prey.dy;
			let speed = prey.speed;
			prey.x += (dx * speed);
			prey.y += (dy * speed);
			if (prey.x >= winWidth || prey.x <= 0 || prey.y >= winHeight || prey.y <= 0) {
				prey.x = Math.min(winWidth, Math.max(0, prey.x));
				prey.y = Math.min(winHeight, Math.max(0, prey.y));
				prey.dx = Math.random() - 0.5;
				prey.dy = Math.random() - 0.5;
			}
			prey.component.$set(prey);
			prey.component.$set(prey);
		}
		
		if (keys.left) {
			sharkProps.x -= sharkSpeed;
		}
		if (keys.right) {
				sharkProps.x += sharkSpeed;			
		}
		if (keys.up) {
			sharkProps.y -= sharkSpeed;
		}
		if (keys.down) {
			sharkProps.y += sharkSpeed;
		}
		sharkProps.y = Math.max(0, Math.min(winHeight-70, sharkProps.y));
		sharkProps.x = Math.max(0, Math.min(winWidth-120, sharkProps.x));
		if (keys.mouth) {
				if (sharkProps.mouth != "open") {
					sharkProps.mouth = (sharkProps.mouth == "open")? "closed" : "open";
					if (sharkProps.mouth == "open") setTimeout(() => sharkProps.mouth = "closed", 200); 
					console.log(`mouth: ${sharkProps.mouth}`);
				}
		}
		window.requestAnimationFrame(handleAnimationFrame);
	}
	handleAnimationFrame()
	
	function location() {
		return {
			x: Math.round(Math.random() * winWidth),
			y: Math.round(Math.random() * winHeight),
			z: Math.round(Math.random() * 100),
			speed: preySpeed.random(),
			dx: Math.random() - 0.5,
			dy: Math.random() - 0.5,
		};			
	}
	
	function *fish() {
		for (let i=0; i < numberOfFish; ++i) {
			let props = {
				id: i,
				...location()
			};
			allPrey.push(props);
			yield props;
		}
	}
	
	function *eels() {
		for (let i=0; i < numberOfEels; ++i) {
			let props = {
				id: i,
				...location()
			};
			allPrey.push(props);
			yield props;
		}		
	}
	
	function handleKey(e) {
		switch (e.keyCode) {
			case 37:
				// left
				keys.left = (e.type == 'keydown')? 1 : 0;
				break;
				
			case 38:
				// up
				keys.up = (e.type == 'keydown')? 1 : 0;
				break;
				
			case 39:
				// right
				keys.right = (e.type == 'keydown')? 1 : 0;
				break;
				
			case 40:
				// down
				keys.down = (e.type == 'keydown')? 1 : 0;
				break;
							
			case 32:
				// space
				keys.mouth = (e.type == 'keydown')? 1 : 0;
				break;
				
			default:
				console.log(`key ${e.keyCode}`);
		}
	}
</script>

<style>
	:global(body) {
		background: lightblue;
		overflow: hidden;
	}
</style>

<svelte:window on:keydown="{handleKey}" on:keyup="{handleKey}" />

{#each [...fish()] as item}
	<Fish {...item} bind:this={item.component}></Fish>
{/each}
{#each [...eels()] as item}
	<Eel {...item} bind:this={item.component}></Eel>
{/each}
<Shark {...sharkProps}></Shark>
