<script>
	export let x = 0;
	export let y = 0;
	export let z = 50;
</script>

<style>
	.container {
		position:absolute;
		display: block;
		width: 20px;
		height: 20px;
		text-align:center;
		color: white;
  	background: rgba(00, 127, 00, .3);		
	}
</style>

<span class="container"
			style="top:{y}px; left:{x}px; z-index: {z}">
E
</span>