<script>
	import SharkImage from './SharkImg.svelte';
	
	export let mouth = "closed";
	export let x;
	export let y;
	export let z;
</script>

<style>
	.container {
		position:absolute;
		display: block;
		width: 150px;
		height: 110px;
		text-align:center;
	}
	.container > div {
		position: absolute;
		width: 5px; height: 5px;
		left: 110px; top: 70px;
		background: white;
	} 
</style>

<span class="container"
			style="top:{y}px; left:{x}px; z-index: {z}">
	<SharkImage {mouth}></SharkImage>
	<div></div>
</span>